

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* tela_cadastro */
.telacadas-d7bcc1a88cfd {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: linear-gradient(to bottom, rgba(155, 174, 174, 1) 0%,rgba(11, 181, 216, 1) 100%);
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  z-index: 0;
}

/* opt_cadastro */
.optcadast-d7ae3646a534 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.optcadast-d7ae3646a534 {
  position: absolute;
  left: 1764px;
  top: 200px;
  width: 140px;
  height: 568px;
  border-radius: 15px 15px 15px 15px;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: center;
  justify-content: stretch;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

/* add_disciplina */
.adddiscip-d7ba13f1ddde {
  position: relative;
  width: 137.5px;
  height: 148px;
  grid-column: 1;
  grid-row: 4;
}

/* ph:plus-fill */
.ph-plusfi-d7b44cb3e469 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.ph-plusfi-d7b44cb3e469 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
}

/* svg-path */
.svgpath-d7b44cb3e46b > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-1.8189894035458565e-12px,0px);
}
.svgpath-d7b44cb3e46b {
  position: absolute;
  left: 6.88px;
  top: 6.88px;
  width: 41.25px;
  height: 41.25px;
}

/* base-background */
.basebackg-d7b44cb3e46a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7b44cb3e46a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* disciplina */
.disciplina-d7b9ddd1e7d7 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.disciplina-d7b9ddd1e7d7 {
  position: absolute;
  left: 37.5px;
  top: 48px;
  width: 100px;
  height: 100px;
}

/* svg-path */
.svgpath-d7b9ddd3b839 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7b9ddd3b839 {
  position: absolute;
  left: 16.67px;
  top: 8.33px;
  width: 66.67px;
  height: 83.33px;
}

/* base-background */
.basebackg-d7b9ddd37d6a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7b9ddd37d6a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* add_turma */
.addturma-d7b6e8d535fa {
  position: relative;
  width: 140px;
  height: 140px;
  grid-column: 1;
  grid-row: 3;
}

/* ph:plus-fill */
.ph-plusfi-d7b651fb6c3b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55.64px;
  height: 55px;
}

/* ph:plus-fill */
.ph-plusfi-d7b447a3cb78 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.ph-plusfi-d7b447a3cb78 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55.64px;
  height: 55px;
}

/* svg-path */
.svgpath-d7b447a3cb7a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7b447a3cb7a {
  position: absolute;
  left: 6.96px;
  top: 6.88px;
  width: 41.73px;
  height: 41.25px;
}

/* base-background */
.basebackg-d7b447a3cb79 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7b447a3cb79 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55.64px;
  height: 55px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* estudantes */
.estudantes-d7b6c1e04426 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.estudantes-d7b6c1e04426 {
  position: absolute;
  left: 38.83px;
  top: 33.15px;
  width: 101.17px;
  height: 106.85px;
}

/* svg-path */
.svgpath-d7b6c1e0aa84 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(9.094947017729282e-13px,0px);
}
.svgpath-d7b6c1e0aa84 {
  position: absolute;
  left: 12.65px;
  top: 8.9px;
  width: 75.87px;
  height: 89.04px;
}

/* base-background */
.basebackg-d7b6c1e0aa83 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7b6c1e0aa83 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 101.17px;
  height: 106.85px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* add_aluno */
.addaluno-d7c230c60e20 {
  position: relative;
  width: 123px;
  height: 131px;
  justify-self: start;
  grid-column: 1;
  grid-row: 2;
}

/* ph:plus-fill */
.ph-plusfi-d7b442383a9a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.ph-plusfi-d7b442383a9a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
}

/* svg-path */
.svgpath-d7b442383a9c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7b442383a9c {
  position: absolute;
  left: 6.88px;
  top: 6.88px;
  width: 41.25px;
  height: 41.25px;
}

/* base-background */
.basebackg-d7b442383a9b > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7b442383a9b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* aluno */
.aluno-d7c1ccde68ce > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.aluno-d7c1ccde68ce {
  position: absolute;
  left: 58px;
  top: 28px;
  width: 65px;
  height: 103px;
}

/* svg-path */
.svgpath-d7c1ccdfe74d > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7c1ccdfe74d {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 65px;
  height: 103px;
}

/* base-background */
.basebackg-d7c1ccdfe74c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7c1ccdfe74c {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 65px;
  height: 103px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* add_professor */
.addprofes-d7b436c19192 {
  position: relative;
  width: 140px;
  height: 140px;
  grid-column: 1;
  grid-row: 1;
}

/* ph:plus-fill */
.ph-plusfi-d7b3de4058ec > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.ph-plusfi-d7b3de4058ec {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
}

/* svg-path */
.svgpath-d7b3de43a017 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-9.094947017729282e-13px,0px);
}
.svgpath-d7b3de43a017 {
  position: absolute;
  left: 6.88px;
  top: 6.88px;
  width: 41.25px;
  height: 41.25px;
}

/* base-background */
.basebackg-d7b3de42f7f5 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7b3de42f7f5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* professores */
.professore-d7b40f107308 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.professore-d7b40f107308 {
  position: absolute;
  left: 40px;
  top: 40px;
  width: 100px;
  height: 100px;
}

/* svg-path */
.svgpath-d7b40f10730a > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7b40f10730a {
  position: absolute;
  left: 6.25px;
  top: 8.33px;
  width: 85.42px;
  height: 83.33px;
}

/* base-background */
.basebackg-d7b40f107309 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7b40f107309 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* tela_cadastro */
.telacadas-d7ac1f2b45ca > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.telacadas-d7ac1f2b45ca {
  position: absolute;
  left: 190px;
  top: 200px;
  width: 1540px;
  height: 840px;
  border-radius: 0px 0px 0px 0px;
}

/* nome_tela */
.nometela-d7bcc1a88d02 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.nometela-d7bcc1a88d02 {
  position: absolute;
  left: 190px;
  top: 46px;
  width: 1540px;
  height: 80px;
  border-radius: 15px 15px 15px 15px;
}

/* user */
.user-d7bcc1a88d00 {
  position: absolute;
  left: 1754px;
  top: 6px;
  width: 160px;
  height: 160px;
  border: 5px solid #000000FF;
  border-radius: 15px 15px 15px 15px;
}

/* mdi:user-outline */
.mdi-usero-d7bcc1abb70b > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.mdi-usero-d7bcc1abb70b {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 140px;
  height: 140px;
}

/* svg-path */
.svgpath-d7bcc1abb70d > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1abb70d {
  position: absolute;
  left: 23.33px;
  top: 23.33px;
  width: 93.33px;
  height: 93.33px;
}

/* base-background */
.basebackg-d7bcc1abb70c > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7bcc1abb70c {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* icon */
.icon-d7bcc1a88cff {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 160px;
  height: 160px;
  border: 5px solid #000000FF;
  border-radius: 15px 15px 15px 15px;
}

/* navbar */
.navbar-d7bcc1a88cfe > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.navbar-d7bcc1a88cfe {
  position: absolute;
  left: 16px;
  top: 200px;
  width: 140px;
  height: 840px;
  border-radius: 15px 15px 15px 15px;
  display: grid;
  align-items: start;
  align-content: stretch;
  justify-items: start;
  justify-content: stretch;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

/* button_avisos */
.buttonavi-d7bcc1a88d03 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.buttonavi-d7bcc1a88d03 {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column: 1;
  grid-row: 9;
}

/* avisos */
.avisos-d7bcc1a93333 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.avisos-d7bcc1a93333 {
  position: relative;
  width: 140px;
  height: 140px;
  mix-blend-mode: normal;
  flex-shrink: 0;
}

/* svg-path */
.svgpath-d7bcc1a93335 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1a93335 {
  position: absolute;
  left: 13.13px;
  top: 4.38px;
  width: 113.75px;
  height: 126.88px;
}

/* base-background */
.basebackg-d7bcc1a93334 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7bcc1a93334 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* button_relatorio */
.buttonrel-d7bcc1a88d04 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.buttonrel-d7bcc1a88d04 {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column: 1;
  grid-row: 8;
}

/* relatorio */
.relatorio-d7bcc1a9bff2 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.relatorio-d7bcc1a9bff2 {
  position: relative;
  width: 140px;
  height: 140px;
  mix-blend-mode: normal;
  flex-shrink: 0;
}

/* svg-g */
.svgg-d7bcc1a9bff4 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgg-d7bcc1a9bff4 {
  position: absolute;
  left: 17.5px;
  top: 23.33px;
  width: 105px;
  height: 115.58px;
}

/* svg-path */
.svgpath-d7bcc1a9bff6 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1a9bff6 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 105px;
  height: 99.17px;
}

/* svg-path */
.svgpath-d7bcc1a9bff5 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1a9bff5 {
  position: absolute;
  left: 52.94px;
  top: 111.67px;
  width: 4.88px;
  height: 3.91px;
}

/* base-background */
.basebackg-d7bcc1a9bff3 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7bcc1a9bff3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* button_financeiro */
.buttonfin-d7bcc1a88d05 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.buttonfin-d7bcc1a88d05 {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  padding: 0px 4px 0px 4px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column: 1;
  grid-row: 7;
}

/* financeiro */
.financeiro-d7bcc1a9f3e8 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.financeiro-d7bcc1a9f3e8 {
  position: relative;
  width: 140px;
  height: 140px;
  mix-blend-mode: normal;
  flex-shrink: 0;
}

/* svg-path */
.svgpath-d7bcc1aa12a3 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1aa12a3 {
  position: absolute;
  left: 20.42px;
  top: 17.5px;
  width: 99.17px;
  height: 99.17px;
}

/* base-background */
.basebackg-d7bcc1a9f3e9 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7bcc1a9f3e9 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* button_professores */
.buttonpro-d7bcc1a88d06 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.buttonpro-d7bcc1a88d06 {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  padding: 0px 4px 0px 4px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column: 1;
  grid-row: 3;
}

/* professores */
.professore-d7bcc1aa4d67 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.professore-d7bcc1aa4d67 {
  position: relative;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

/* svg-path */
.svgpath-d7bcc1aa4d69 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1aa4d69 {
  position: absolute;
  left: 8.75px;
  top: 11.67px;
  width: 119.58px;
  height: 116.67px;
}

/* base-background */
.basebackg-d7bcc1aa4d68 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7bcc1aa4d68 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* button_turmas */
.buttontur-d7bcc1a88d07 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.buttontur-d7bcc1a88d07 {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  padding: 0px 4px 0px 4px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column: 1;
  grid-row: 2;
}

/* estudantes */
.estudantes-d7bcc1aa8ca6 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.estudantes-d7bcc1aa8ca6 {
  position: relative;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

/* svg-path */
.svgpath-d7bcc1aa8ca8 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1aa8ca8 {
  position: absolute;
  left: 17.5px;
  top: 11.67px;
  width: 105px;
  height: 116.67px;
}

/* base-background */
.basebackg-d7bcc1aa8ca7 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7bcc1aa8ca7 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}

/* button_cadastrar */
.buttoncad-d7bcc1a88d08 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.buttoncad-d7bcc1a88d08 {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  padding: 0px 4px 0px 4px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column: 1;
  grid-row: 1;
}

/* cadastrar */
.cadastrar-d7bcc1aac400 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.cadastrar-d7bcc1aac400 {
  position: relative;
  width: 140px;
  height: 140px;
  mix-blend-mode: normal;
  flex-shrink: 0;
}

/* svg-path */
.svgpath-d7bcc1ab1187 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.svgpath-d7bcc1ab1187 {
  position: absolute;
  left: 27.82px;
  top: 27.82px;
  width: 96.89px;
  height: 84.36px;
}

/* base-background */
.basebackg-d7bcc1aac401 > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0px,0px);
}
.basebackg-d7bcc1aac401 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 0px;
  display: none;
}