<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>
<body>
<!-- frame: login_page -->
<div class="frame loginpage-d2bee7c2ab73">
  <!-- frame: verifique -->
  <div class="frame verifique-d2bee7c2ab6b">
    <!-- text: VERIFIQUE SEU E-MAIL -->
    <div class="shape text v-e-r-i-f-i-q-u-e-d2bee7c2ab6c">
      <div class="text-node-html" id="html-text-node-7648b067-b0ea-80f5-8006-d2bee7c2ab6c" data-x="895" data-y="-1422">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">VERIFIQUE SEU E-MAIL</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: recuperacao -->
  <div class="frame recuperaca-d2bee7c2ab6d">
    <!-- frame: button_recuperacao -->
    <div class="frame buttonrec-d028aef10278">
      <!-- text: CONFIRMAR -->
      <div class="shape text c-o-n-f-i-r-m-a-r-d028aef1027d">
        <div class="text-node-html" id="html-text-node-524cb1a4-486d-80cf-8006-d028aef1027d" data-x="276.5" data-y="-1339">
          <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">CONFIRMAR</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: email_field -->
    <div class="shape frame emailfiel-d2bee7c2ab6f">
    </div>
    <!-- text: E-MAIL -->
    <div class="shape text e-m-a-i-l-d2bee7c2ab70">
      <div class="text-node-html" id="html-text-node-7648b067-b0ea-80f5-8006-d2bee7c2ab70" data-x="138" data-y="-1473">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">E-MAIL</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: RECUPERAÇÃO DE SENHA -->
    <div class="shape text r-e-c-u-p-e-r-a-d2bee7c2ab71">
      <div class="text-node-html" id="html-text-node-7648b067-b0ea-80f5-8006-d2bee7c2ab71" data-x="38" data-y="-1523">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">RECUPERAÇÃO DE SENHA</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- text: ESQUECEU SUA SENHA? -->
  <div class="shape text e-s-q-u-e-c-e-u-s-d2bee7c2ab74">
    <div class="text-node-html" id="html-text-node-7648b067-b0ea-80f5-8006-d2bee7c2ab74" data-x="1093" data-y="-459.9999999999998">
      <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
        <div class="paragraph-set root-0-paragraph-set-0">
          <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">ESQUECEU SUA SENHA?</span></p>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: login_form -->
  <div class="frame loginform-d2bee7c2ab75">
    <!-- frame: button_entrar -->
    <div class="shape frame buttonent-d026a14a1f2e">
      <svg width="132" xmlns="http://www.w3.org/2000/svg" height="58" id="screenshot-524cb1a4-486d-80cf-8006-d026a14a1f2e" viewBox="894 -573 132 58" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
        <style></style>
        <g id="shape-524cb1a4-486d-80cf-8006-d026a14a1f2e">
          <defs>
            <clipPath id="frame-clip-524cb1a4-486d-80cf-8006-d026a14a1f2e-render-8554" class="frame-clip frame-clip-def">
              <rect rx="20" ry="20" x="899" y="-568" width="122" height="48" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"></rect>
            </clipPath>
          </defs>
          <g class="frame-container-wrapper">
            <g class="frame-container-blur">
              <defs></defs>
              <g class="frame-container-shadows">
                <g clip-path="url(#frame-clip-524cb1a4-486d-80cf-8006-d026a14a1f2e-render-8554)" fill="none">
                  <g class="fills" id="fills-524cb1a4-486d-80cf-8006-d026a14a1f2e">
                    <rect rx="20" ry="20" x="899" y="-568" width="122" height="48" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="frame-background" style="fill:#e2edff;fill-opacity:1"></rect>
                  </g>
                  <g class="frame-children">
                    <g id="shape-524cb1a4-486d-80cf-8006-d027ed1eabfa">
                      <defs></defs>
                      <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="921" y="-554" width="78" height="22" rx="0" ry="0">
                        <defs>
                          <pattern patternUnits="objectBoundingBox" width="77.734375" height="27" id="fill-0-render-8555-0">
                            <g>
                              <rect width="77.734375" height="27" style="fill:#000000;fill-opacity:1"></rect>
                            </g>
                          </pattern>
                        </defs>
                        <g class="fills" id="fills-524cb1a4-486d-80cf-8006-d027ed1eabfa"><text x="921" y="-530" dominant-baseline="ideographic" textLength="77.734375" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:Spectral;letter-spacing:normal;font-style:normal;font-weight:600;white-space:pre;font-size:18px;text-decoration:rgb(0, 0, 0);direction:ltr;fill:#000000;fill-opacity:1">ENTRAR</text></g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g id="strokes-30e1e3e0-f6bb-805d-8006-d7cb2f55f794-524cb1a4-486d-80cf-8006-d026a14a1f2e" class="strokes">
                <g class="outer-stroke-shape">
                  <defs>
                    <mask id="outer-stroke-render-8554-524cb1a4-486d-80cf-8006-d026a14a1f2e-0" x="894.7573593128807" y="-572.2426406871193" width="130.48528137423858" height="56.48528137423857" maskUnits="userSpaceOnUse">
                      <use href="#stroke-shape-render-8554-524cb1a4-486d-80cf-8006-d026a14a1f2e-0" style="fill:none;stroke:white;stroke-width:6"></use>
                      <use href="#stroke-shape-render-8554-524cb1a4-486d-80cf-8006-d026a14a1f2e-0" style="fill:black;stroke:none"></use>
                    </mask>
                    <rect rx="20" ry="20" x="899" y="-568" width="122" height="48" transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="frame-background" id="stroke-shape-render-8554-524cb1a4-486d-80cf-8006-d026a14a1f2e-0"></rect>
                  </defs>
                  <use href="#stroke-shape-render-8554-524cb1a4-486d-80cf-8006-d026a14a1f2e-0" mask="url(#outer-stroke-render-8554-524cb1a4-486d-80cf-8006-d026a14a1f2e-0)" style="fill:none;stroke-width:6;stroke:#000000;stroke-opacity:1"></use>
                  <use href="#stroke-shape-render-8554-524cb1a4-486d-80cf-8006-d026a14a1f2e-0" style="fill:none;fill-opacity:none;stroke-width:3;stroke:none;stroke-opacity:1"></use>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <!-- frame: password_field -->
    <div class="shape frame passwordf-d2bee7c2ab77">
    </div>
    <!-- text: SENHA -->
    <div class="shape text s-e-n-h-a-d2bee7c2ab78">
      <div class="text-node-html" id="html-text-node-7648b067-b0ea-80f5-8006-d2bee7c2ab78" data-x="750" data-y="-685">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">SENHA</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- frame: email_field -->
    <div class="shape frame emailfiel-d2bee7c2ab79">
    </div>
    <!-- text: E-MAIL -->
    <div class="shape text e-m-a-i-l-d2bee7c2ab7a">
      <div class="text-node-html" id="html-text-node-7648b067-b0ea-80f5-8006-d2bee7c2ab7a" data-x="750" data-y="-785">
        <div class="root rich-text root-0" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="ltr"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0">E-MAIL</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>