<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tela_cadastro.css') }}">
    <title>Tela Cadastro</title>
</head>
<body>

<form>
<div class="">
    <div>
    {{ form_cadprof.name.label }}
    {{ form_cadprof.name }}
    </div>
    <div>
    {{form_cadprof.data_nascimento.label}}
    {{form_cadprof.data_nascimento}}
    </div>
    <div>
    {{ form_cadprof.email.label }}
    {{ form_cadprof.email }}
    </div>
</div>
</form>
</body>
</html>